*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

h1{
    width: 1300px;
    height: 80px;
    display: grid;
    place-content: center;
    font-size: 40px;
    border-radius: 20px;
    background-color: white;
}

.header{
    grid-area: header;
    display: grid;
    place-content: center;
}

.navbar{
    grid-area: navbar;
    
}

.main{
    grid-area: main;
    background-color: rgb(46, 60, 122);
}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgba(95, 158, 187, 0.342);
    display: grid;
    grid-template-columns:200px;
    grid-template-rows:100px;
    grid-template-areas:
    'navbar   header'
    'navbar   main'
    ;
}
.navbar-sesion{
    margin-top: 80px;
    height: 80vh;
    display: grid;
    place-content:center;
    width:75%;
    gap: 15px;
    margin-left:20px;
    border-radius: 20px;
    background-color: white;
}



img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

ul{
    text-decoration: none;
    list-style: none;
    display: grid;
    gap: 8px;
}